/* HEADER*/
header{
    width:100%;
    background-color: var(--blue);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    z-index: 1; */
}

/* MAIN */
    /* < !-- First Section --> */

.row{
    padding:1.5rem 0rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.2rem;
    justify-content:center;
}
.row.first{
    padding: 6rem 0rem 5rem 0rem;
}
.row.first>.card{
    height:300px;
    background-color: var(--light-blue);
    border-radius:1.5rem;
}
.demo{
    display: flex;
    gap:2rem;
}
.demo .w30{
    align-self: flex-end;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Second Section-Strategic Planning */
.row-small {
    padding: 6rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.white-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis:38%;
}
.white{
    background-color: white;
    border-radius: 3rem;
}
.img, .text-column{
    width:100%;
    margin:0 auto;
    padding:1rem;
    text-align: left;
}
.img.smaller{
    width:60%;
    padding-top:2rem;
}
.left>h2{
    color:white;
    font-size: 1.5rem;
    padding:1rem 0rem 2.5rem 0rem;
}
.left>p{
    color:white;
}
.right>h2 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0rem 1.5rem 0rem;
    text-align: center;
}
.right>p{
    font-style: italic;
    text-align: center;
    padding-bottom:2rem;
}

.right>a{
    color:var(--black);
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem 0rem;
    background-color: var(--violet);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0rem auto 1rem;
    display:block;
}
/* Partners Section */
.img-path{
    width:20%;
}
.img-path>img{
    clip-path: circle(40%);
}
.partner{
    width:100%;
    background-color: var(--violet);
    border-radius: 2rem;
    padding:1rem 0rem;
    display:flex;
}
.partner-label{
    width: 100%;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.partner-label p{
    text-align: center;
}
/* Benefits Section */
.card{
    background-color: white;
    border-radius: 2rem;
    padding-bottom:3rem;
}
.violet a{
    background-color: var(--violet);
    padding:0.5rem 2rem;
    border-radius: 2rem;
}
.text{
    margin-bottom:2rem;
}
/* ABOUT */
.about .card{
    padding:0rem 4rem 0rem 2rem;
}

.about cite{
    text-align: left;
    font-size: 1.2rem;
    color: var(--violet)
} 
.about h2{
    text-align:left;
}

.about .img-path{
    width:100%;
}

/* Titles */
h1{
    font-size:2rem;
    text-align: center;
    color:white;
}
h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--violet);
    padding: 2rem 0rem;
}
h3{
    font-size: 1.2rem;
    color: var(--blue);
    font-weight: bolder;
    padding:1.5rem 0rem;
}
/* ICONS */
i{
    font-size:4rem;
    color: var(--blue)
}
/* buttons */
.btn{
    padding:1rem 0rem;
}
.app>a{
    background-color: var(--blue);
    padding:0.5rem 4rem;
    border-radius: 2rem;
}

.btn>.starter{
    border-radius: 3rem;
    padding:0.7rem 0.8rem;
    
}
.starter{
    background-color: white;
    color: var(--black);
    text-decoration: none;
}
.app.vio>a{
    background-color: var(--violet);
    padding: 0.5rem 1rem;
}
.vio i{
    font-size: 1rem;
    color:white;
    padding:0rem 0.5rem;
}
.about .text{
    align-items:flex-start;
}