/* HEADER*/
header{
    width:100%;
    background-color: var(--blue);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    z-index: 1; */
}

/* MAIN */
    /* < !-- First Section --> */

.row{
    padding:1.5rem 0rem;
    display:flex;
    flex-wrap:wrap;
    gap:1.2rem;
    justify-content:center;
}
.row.first{
    padding: 6rem 0rem 5rem 0rem;
}
.row.first>.card{
    background-color: var(--light-blue);
    border-radius:1.5rem;
}
.demo{
    display: flex;
    gap:2rem;
}
.demo .w30{
    align-self: flex-end;
}
.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0 auto;
}
.tel{
    display:flex;
}
.first .text{
    text-align: center;
}
/* Second Section-Strategic Planning */
.row-small {
    padding: 6rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.white-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis:38%;
}
.white{
    background-color: white;
    border-radius: 3rem;
}
.img, .text-column{
    width:100%;
    margin:0 auto;
    padding:1rem;
    text-align: left;
}
.img.smaller{
    width:60%;
    padding-top:2rem;
}
.left>h2{
    color:white;
    font-size: 1.5rem;
    padding:1rem 0rem 2.5rem 0rem;
}
.left>p{
    color:white;
}
.right>h2 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0rem 1.5rem 0rem;
    text-align: center;
}
.right>p{
    font-style: italic;
    text-align: center;
    padding-bottom:2rem;
}

.right>a{
    color:var(--black);
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem 0rem;
    background-color: var(--violet);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0rem auto 1rem;
    display:block;
}
/* Partners Section */
.img-path{
    width:20%;
}
.img-path>img{
    clip-path: circle(40%);
}
.partner{
    width:100%;
    background-color: var(--violet);
    border-radius: 2rem;
    padding:1rem 0rem;
    display:flex;
    align-items: center;
}
.partner-label{
    width: 100%;
    border-radius: 2rem;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.partner-label p{
    text-align: center;
}
.partner i,
.partner div{
    color:white;
    font-size: 1rem;
}
.partner span {
    color:white;
    font-weight:lighter;
}
.partner .name{
    padding-top:1rem;
}
/* Benefits Section */
.card{
    background-color: white;
    border-radius: 2rem;
}
.violet a{
    background-color: var(--violet);
    padding:0.5rem 2rem;
    border-radius: 2rem;
}
.text{
    margin-bottom:2rem;
}

.numbers{
    font-size:4rem;
    color: var(--violet);
}
.benefit h3{
    color:var(--violet);
}

/* ABOUT */
.about .card{
    padding:0rem 2em 0rem 2rem;
}

.about cite{
    text-align: left;
    font-size: 1.2rem;
    color: var(--violet)
} 
.about h2{
    text-align:left;
}

.about .img-path{
    width:100%;
}

.about .img-path{
    padding: 2rem 0rem;
    width: 70%;
}

.about .text{
    align-items:flex-start;
}
/* FOOTER */
footer{
    background-color: var(--black);
    padding:2rem 0rem;
    color:white;
}



/* ICONS */
i{
    font-size:4rem;
    color: var(--blue)
}
/* buttons */
.btn{
    padding:1rem 0rem;
}
.app>a{
    background-color: var(--blue);
    padding:0.5rem 4rem;
    border-radius: 2rem;
}

.btn>.starter{
    border-radius: 3rem;
    padding:0.7rem 0.8rem;
    
}
.starter{
    background-color: white;
    color: var(--black);
    text-decoration: none;
}
.app.vio>a{
    background-color: var(--violet);
    padding: 0.5rem 1rem;
}
.vio i{
    font-size: 1rem;
    color:white;
    padding:0rem 0.5rem;
}


/* MEDIA QUERIES */
@media screen and (max-width:800px){
    .row-small{
        flex-direction: column;
    }
    .w50{
        width:100%;
    }

   .benefit .w30, .benefit .w3{
        width:calc(100% / 2 - 1.2rem)
    }

    .about>.row{
        flex-wrap: nowrap;
    }
    .about .w3{
        width: calc(100% / 2 - 1.2rem)
    }
}
@media screen and (max-width:800px) {
    .row-small {
        flex-direction: column;
    }

    .w50 {
        width: 100%;
    }

    .benefit .w30,
    .benefit .w3 {
        width: calc(100% / 2 - 1.2rem)
    }

    .about>.row {
        flex-wrap: nowrap;
    }

    .about .w3 {
        width: calc(100% / 2 - 1.2rem)
    }
}
/* mobile */
@media screen and (max-width:480px) {
    header nav{
        display:none;
    }
    .demo{
        flex-direction: column;
    }
    .w7, .w30, .w3{
        width:100%;
    }
    .partner{
        flex-direction: column;
    }
    .partner .img-path{
        width:80%;
    }
    .benefit .w30{
        width:100%;
    }
    .about>.row{
        flex-direction: column;
    }
    .about .w3{
        width:100%;
    }
}