/* HEADER*/
header{
    width:100%;
    background-color: var(--blue);
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:fixed;
    z-index: 1; */
}
#nav-bar{
    display:none;
}

#nav-bar>i{
    color:white;
    font-size: 2rem;
}
.app i{
    color:white;
    font-size: 1.2rem;
    padding-right:0.5rem;
}

/* MAIN */
   
/* Fisrt Section-Demo */
.row.first{
    padding: 6rem 0rem 5rem 0rem;
}
.row.first>.card{
    background-color: var(--light-blue);
    border-radius:1.5rem;
}
.demo{
    display: flex;
    gap:2rem;
}
.demo .w30{
    align-self: flex-end;
}
.tel{
    display:flex;
}
.first .text{
    text-align: center;
    margin-bottom:2rem;
}

/* Second Section-Strategic Planning */
.row-small {
    padding: 6rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}
.white-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis:38%;
}
.white{
    background-color: white;
    border-radius: 3rem;
}
.img, .text-column{
    width:100%;
    margin:0 auto;
    padding:1rem;
    text-align: left;
}
.img.smaller{
    width:60%;
    padding-top:2rem;
}
.left>h2{
    color:white;
    font-size: 1.5rem;
    padding:1rem 0rem 2.5rem 0rem;
}
.left>p{
    color:white;
}
.right>h2 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0rem 1.5rem 0rem;
    text-align: center;
}
.right>p{
    font-style: italic;
    text-align: center;
    padding-bottom:2rem;
}
.right>a{
    color:var(--black);
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem 0rem;
    background-color: var(--violet);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0rem auto 1rem;
    display:block;
}

/* Partners Section */
.img-path>img{
    width:100%;
    height:100%;
    border-radius:50%;
}
.img-path>img{
    clip-path: circle(39%);
}
.partner{
    width:100%;
    background-color: var(--violet);
    border-radius: 2rem;
    padding:1rem 0rem;
    display:flex;
    align-items: center;
}
.partner-label{
    width: 100%;
    border-radius: 2rem;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.partner-label p{
    text-align: center;
}
.partner i,
.partner div{
    color:white;
    font-size: 1rem;
}
.partner p {
    color:white;
    font-weight:lighter;
}
.partner .name{
    padding-top:1rem;
}

/* Benefits Section */
.card{
    background-color: white;
    border-radius: 2rem;
}
.violet a{
    background-color: var(--violet);
    padding:0.5rem 2rem;
    border-radius: 2rem;
}
.numbers{
    font-size:4rem;
    color: var(--violet);
}
.benefit h3{
    color:var(--violet);
}
.violet{
    margin:1.5rem 0rem;
}
/* ABOUT */
.about{
    margin-top:2rem;
    margin-bottom:3rem;
}

.about cite{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--violet)
} 
.about h2{
    text-align:left;
}

.about .img-path{
    width:100%;
}

.about .img-path{
    width: 90%;
    clip-path: circle(50%);
}
.text-cite{
    width:89%;
}
/* Get Started */
.free{
    color: var(--yellow);
    font-size: 3rem;    
}
.get-started{
    margin: 0 auto;
}
.btn.get>a{
    padding:1rem 3rem;
    color: var(--violet);
}
/* FOOTER */
footer{
    background-color: var(--black);
    padding:2rem 0rem;
    color:white;
}


/* ICONS */
i{
    font-size:4rem;
    color: var(--blue)
}
/* buttons */
.btn{
    padding:1rem 0rem;
}
.app a{
    background-color: var(--blue);
    padding:0.5rem 4rem;
    border-radius: 2rem;
}

.btn>.starter{
    border-radius: 3rem;
    padding:0.7rem 0.8rem;
    
}
.starter{
    background-color: white;
    color: var(--black);
    text-decoration: none;
}
.app.vio>a{
    background-color: var(--violet);
    padding: 0.5rem 1rem;
}
.vio i{
    font-size: 1rem;
    color:white;
    padding:0rem 0.5rem;
}

/* MEDIA QUERIES */
/* TABLET */

@media screen and (max-width:768px) {
/* header */

    header nav {
            display: none;
        }
    
    nav li{
        display:block;
        background-color: var(--blue);
        border-bottom:1px solid var(--light-blue);
        padding:1rem 5rem;
    }
    header{
        position:relative;
    }
    nav{
        position:absolute;
        right:0rem;
        top:4rem;
    }
    header .starter{
        padding:1rem 5rem;
        color:white;
        background-color: var(--blue);
        
        }    
    #nav-bar{
        display:block;
    }

    #nav-bar:active nav{
        display:block;
    }

    /* first section */
    .row-small {
        flex-direction: column;
    }
    .demo{
        flex-direction: column;
        padding: 1.5rem 1.4rem 0rem 1.4rem;
    }
    .demo .w7{
        width:100%
    }
    
    .demo .w30{
        align-self: flex-start;
        width:60%;
    }
    
    .w50 {
        width: 100%;
    }
    
    .benefit .w30,
    .benefit .w3 {
        width: calc(100% / 2 - 1.2rem)
    }
    /* button */
    .app>a{
        padding:0.5rem 3rem;
    }
    .app>.a{
        padding:0.5rem 1rem;
    }
    /* About section */

    .about>.row {
        flex-wrap: nowrap;
    }

    .about .w3 {
        width: calc(100% / 2 - 1.2rem)
    }
    .about>.card{
        padding:0;
    }
   
}
/* MOBILE */
@media screen and (max-width:480px) {
    
    .w7, .w30, .w3{
        width:100%;
    }
    .partner{
        flex-direction: column;
    }
    .partner .img-path{
        width:80%;
    }
    .benefit .w30{
        width:100%;
    }
    .about>.row{
        flex-direction: column;
    }
    .about .w3{
        width:100%;
    }
    .partner-description{
        text-align: center;
    }
}