/* Utils */

/* Root */
:root{
	--blue:#0084fd;
	--light-blue:#b5ddff;
	--violet:#9792e4;
	--yellow:#fdc15f;
	--black:rgb(41, 41, 41);
}
/* CONTAINERS */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1rem 2rem;
}
.row {
	padding: 1.5rem 0rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	gap:1.2rem;
	color:white;
	padding: 1rem 1rem;
}

.small{
	max-width: 60%;
	padding:0rem 5rem;
}
/* Background */
.bg{
	background-color: var(--violet);
}

/* List & Nav */
li{
	display:inline;
	padding: 0.8rem;
}
a{
	color:white;
	text-decoration: none;
}

/* Width */
.w7{
	width:calc(70% - 3.6rem);
}
.w3{
	width: calc(100% / 3);
	/* width: calc(70% / 2 - 1.2rem); */
}
.w30 {
	width: calc(100% / 3 - 1.2rem);
}
.w5{
	width: calc(50% - 3.6rem);
}
.w50{
	width:calc(50% - 3rem);
	text-align: center;
}
.w6{
	width:60%;
}

/* padding & margin */
.pt0-d{
	padding: 1.5rem 1.4rem 0rem 1.4rem;
}
.pb2{
	padding-bottom:2rem;
}
.p1{
	padding:3rem 1.4rem 0rem 1.4rem;
}
.p2 {
	padding: 2rem 0rem;
}

.mt2{
	margin-top:2rem;
}

/* FONT */
/* Titles */
h1 {
	font-size: 3.1rem;
	text-align: center;
	color: white;
	padding: 2rem 0rem;
	line-height: 2.8rem;
}

h2 {
	font-size: 3rem;
	text-align: center;
	color: var(--violet);
	padding: 2rem 0rem;
	line-height:2.8rem;
}

h3 {
	font-size: 1.2rem;
	color: var(--blue);
	font-weight: bolder;
	padding: 1.5rem 0rem;
	line-height: 2.8rem;
}

h4{
	color:white;
	font-size: 2rem;
	font-weight: bold;
	line-height: 2.8rem;
}

